* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #d1c4e9;
}

.container {
    width: 600px;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}

.form-basic-details {
    border-top: 10px solid #00bcd4;
    background: white;
    border-radius: 10px;
    margin: 15px auto;
    padding: 10px;
}

.form-basic-details p {
    text-align: justify;
    word-wrap: break-word;
    word-break: break-all;
}

.form-basic-details h2 {
    text-align: center;
    word-wrap: break-word;
    word-break: break-all;
}

.wrapperpielegends {
    display: flex;
    justify-content: flex-start;
}

.piechartwrapper {
    display: flex;
    align-items: center;
}

.wrappercontainer {
    background: white;
    border-left: 5px solid #4285f4;
    border-radius: 8px;
    padding: 10px;
    margin: 20px auto;
    text-align: center;
}

.piechartlegend {
    margin-left: 25% !important;
}