{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fill Out Quiz | NestedForms.com</title>
    <link rel="stylesheet" href="{% static 'quiz.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <style>
        textarea {
            outline: none;
            border: none;
            border-bottom: 2px solid gray;
            width: 95%;
            margin: 10px auto;
            height: 40px;
            outline: none;
            text-align: center;
            font-size: 20px;
            padding: 7px;
            display: block;
            overflow: hidden;
            resize: none;
        }
    </style>
</head>

<body>
    <div class="form-details">
        <h2>{{upper.title}}</h2>
        <p>{{upper.desc}}</p>
        <p style="text-align:right;">Marks: <span style="font-weight: 700;">{{upper.total_marks}}</span></p>
    </div>


    <form method="POST" id="quizmainform" action="/savequiz/{{formid}}">
        {% csrf_token %}
        <div class="parentelement">
            <div class="container inputcontainer">
                <input type="text" name="name" required placeholder="Enter Your Full Name">
                <input type="text" name="mail" required placeholder="Enter Your email address" value={{user.email}} disabled>
                <input type="text" name="phone" required placeholder="Enter Your Phone Number">
                <input type="text" name="address" required placeholder="Enter Your Full Address">
            </div>
        </div>

        {% for i,j,k,l,m,isq,mark in mcqs %}
        <div class="parentelement">
            {% if isq %}
            <div class="container">
                <h3>{{i}}</h3>
                <div class="radio-container">
                    <input type="hidden" name="i-{{ forloop.counter0 }}" id="i0-{{ forloop.counter0 }}" value="">
                    <input name="{{ forloop.counter0 }}" type="radio" name="radio-value-1" value="{{j}}" id="0-{{ forloop.counter0 }}" onchange="mainfunc(this.id,this.value);">
                    <label for="0-{{ forloop.counter0 }}">{{j}}</label><br>

                    <input type="hidden" name="i-{{ forloop.counter0 }}" id="i1-{{ forloop.counter0 }}" value="">
                    <input name="{{ forloop.counter0 }}" type="radio" name="radio-value-1" value="{{k}}" id="1-{{ forloop.counter0 }}" onchange="mainfunc(this.id,this.value);">
                    <label for="1-{{ forloop.counter0 }}">{{k}}</label><br>

                    <input type="hidden" name="i-{{ forloop.counter0 }}" id="i2-{{ forloop.counter0 }}" value="">
                    <input name="{{ forloop.counter0 }}" type="radio" name="radio-value-1" value="{{l}}" id="2-{{ forloop.counter0 }}" onchange="mainfunc(this.id,this.value);">
                    <label for="2-{{ forloop.counter0 }}">{{l}}</label><br>

                    <input type="hidden" name="i-{{ forloop.counter0 }}" id="i3-{{ forloop.counter0 }}" value="">
                    <input name="{{ forloop.counter0 }}" type="radio" name="radio-value-1" value="{{m}}" id="3-{{ forloop.counter0 }}" onchange="mainfunc(this.id,this.value);">
                    <label for="3-{{ forloop.counter0 }}">{{m}}</label><br>
                </div>
                <h5 style="text-align: right;">Marks: {{mark}}</h5>
            </div>
            {% else %}
            <div class="container">
                <h3>{{i}}</h3>
                <div class="radio-container">
                    <input type="hidden" name="i-{{ forloop.counter0 }}" id="i0-{{ forloop.counter0 }}" value="">
                    <input name="{{ forloop.counter0 }}" type="checkbox" name="radio-value-1" value="{{j}}" id="0-{{ forloop.counter0 }}" onchange="mainchecfunc(this.id,this.value);">
                    <label for="0-{{ forloop.counter0 }}">{{j}}</label><br>

                    <input type="hidden" name="i-{{ forloop.counter0 }}" id="i1-{{ forloop.counter0 }}" value="">
                    <input name="{{ forloop.counter0 }}" type="checkbox" name="radio-value-1" value="{{k}}" id="1-{{ forloop.counter0 }}" onchange="mainchecfunc(this.id,this.value);">
                    <label for="1-{{ forloop.counter0 }}">{{k}}</label><br>

                    <input type="hidden" name="i-{{ forloop.counter0 }}" id="i2-{{ forloop.counter0 }}" value="">
                    <input name="{{ forloop.counter0 }}" type="checkbox" name="radio-value-1" value="{{l}}" id="2-{{ forloop.counter0 }}" onchange="mainchecfunc(this.id,this.value);">
                    <label for="2-{{ forloop.counter0 }}">{{l}}</label><br>

                    <input type="hidden" name="i-{{ forloop.counter0 }}" id="i3-{{ forloop.counter0 }}" value="">
                    <input name="{{ forloop.counter0 }}" type="checkbox" name="radio-value-1" value="{{m}}" id="3-{{ forloop.counter0 }}" onchange="mainchecfunc(this.id,this.value);">
                    <label for="3-{{ forloop.counter0 }}">{{m}}</label><br>
                </div>
                <h5 style="text-align: right;">Marks: {{mark}}</h5>
            </div>
            {% endif %}
        </div>
        {% endfor %} {% for qus,mark in filltype %}
        <div class="parentelement">
            <div class="container">
                <h3>{{qus}}</h3>
                <textarea class="textarea" oninput="this.style.height = 'auto';this.style.height =(this.scrollHeight) + 'px';" name=ftp-{{forloop.counter0}} placeholder="Enter Your Ans here" style="text-align: left;"></textarea>
                <h5 style="text-align: right;">Marks: {{mark}}</h5>
            </div>
        </div>
        {% endfor %}

        <button type="submit">Submit</button>
        <div class="author-details">
            <h3>Created by <span id="person-name">{{upper.creator}}</span></h3>
            <p>Mail id: <span id="person-mail">{{upper.mail}}</span></p>
        </div>
        </div>

    </form>

    <footer id="footer-tag">Developed By Mohit Satija | Copyright &copy; 2021 All Rights Reserved</footer>

</body>

<script>
    let uri = document.URL.replace("fillquiz", "savequiz");
    document.getElementById("quizmainform").action = uri;

    function mainfunc(id, value) {
        var arr = id.split('-')
        for (var i = 0; i < 4; i++) {
            document.getElementById("i" + i + "-" + arr[1]).value = "";
        }
        document.getElementById("i" + id).value = value;
    }

    function mainchecfunc(id, value) {
        if (document.getElementById(id).checked)
            document.getElementById("i" + id).value = value;
        else
            document.getElementById("i" + id).value = "";

    }
</script>

</html>