{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create-Quiz | Assignments @ NestedForms.com</title>

    <script src="https://kit.fontawesome.com/e8425439af.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js">
    </script>
    <style>
        .delbtn {
            display: block;
            margin: 20px auto;
            color: white;
            background: crimson;
            padding: 6px 10px;
            font-size: 16px;
            cursor: pointer;
            border: 1px solid gray;
            border-radius: 6px;
        }
        
        .ismulticorrect {
            text-align: right;
            margin-right: 7px;
        }
        
        input[type="checkbox"] {
            cursor: pointer;
        }
    </style>
</head>

<body>
    <!-- <marquee behavior="" direction="left">Welcome User to NestedForms.com click on <i class="fas fa-plus-circle"></i> icon to add more Questions to your set and respectively click on <i class="fas fa-minus-circle"></i> icon to remove a Question.</marquee> -->
    <form action="/savedetails" method="POST">
        {% csrf_token %}
        <div class="container-headings">
            <h1>NestedForms</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam perferendis quam earum maiores perspiciatis labore placeat praesentium, totam vero fugiat voluptatibus minus pariatur enim sint voluptas quidem architecto esse! Est in corrupti
                molestias exercitationem quaerat omnis libero asperiores accusantium aliquid?</p>
        </div>

        <div class="container">

            <textarea name="formtitle" id="Form-title" required placeholder="Enter Form's Title Here"></textarea>

            <input type="text" name="creatorname" required class="other-data" placeholder="Enter Creator's Name">

            <input type="text" name="mail" class="other-data" required placeholder="Enter Creator's Mail Id" value={{user.email}} disabled>

            <textarea name="formdesc" id="Form-Desc" required placeholder="Enter Form's Description"></textarea>

        </div>


        <div id="outer">
            <div class="question-prototype">
                <textarea name="questionmcq" class="question-box" required placeholder="Enter Your Question Here"></textarea>
                <div class="main-icoinput"><i class="far fa-circle"></i><input required type="text" class="option-box" name="option1" placeholder="option A"></div>
                <div class="main-icoinput"><i class="far fa-circle"></i><input type="text" class="option-box" name="option2" placeholder="option B"></div>
                <div class="main-icoinput"><i class="far fa-circle"></i><input type="text" class="option-box" name="option3" placeholder="option C"></div>
                <div class="main-icoinput"><i class="far fa-circle"></i><input type="text" class="option-box" name="option4" placeholder="option D"></div>
                <div class="ismulticorrect">
                    <input type="hidden" name="multicorrect" id="mc0">
                    <input type="checkbox" onchange="mfsetcheck('mc0',this)">
                    <span>More than one choice</span>
                </div>
                <button class="delbtn" onclick="this.parentElement.remove();" type="button">Delete</button>
            </div>
            <div class="question-prototype">
                <textarea name="questionftp" class="question-box" required placeholder="Enter Your Question Here"></textarea>
                <button class="delbtn" onclick="this.parentElement.remove();" type="button">Delete</button>
            </div>
        </div>


        <div class="btnsholder">
            <button type="button" id="mcq-adder" class="mainbutton">Add Mcq</button>
            <button type="Submit" class="mainbutton">Generate Token</button>
            <button type="button" id="ftp-adder" class="mainbutton">Add FillType</button>
        </div>
    </form>


    <footer id="footer-tag">Developed By Mohit Satija &copy; 2021 | All Rights Reserved</footer>
</body>
<script src="{% static 'script.js' %}"></script>

</html>