{% load static %}
{% load index %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey @ NestedForms.com</title>
    <link rel="stylesheet" href="{% static 'survey.css' %}">
    <style>
        @media(max-width:650px){
            .container{
                width: 98%;
            }
            .piechartwrapper{
                flex-direction: column;
            }
            .piechartlegend{
                margin-top:15px;
            }
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="form-basic-details">
            <h2>{{title}}</h2>
            <p>{{desc}}</p>
        </div>

        <!-- 4 options a-50,b-26,c-12,d-13 -->
        {% for d,qus,nlc,total_res in data %}
        <div class="wrappercontainer">
        <h3>{{qus.question}}</h3>
        <div class="piechartwrapper" style="margin:20px auto;">

            <div class="piechartparent" style="width: 150px;height: 150px;margin-left:20px;background: radial-gradient(circle closest-side, transparent 100%, #fff 0), conic-gradient(from 180deg, red 0, red {{d.0}}%, blue 0, blue {{d.1}}%, green 0, green {{d.2}}%, purple 0, purple {{d.3}}%);">
            </div>

            <div class="piechartlegend" style="margin-left:20px;margin-right:20px;">
                <div class="wrapperpielegends">
                    <p>Responses: {{total_res}}</p>
                </div>
                <div class="wrapperpielegends">
                    <div style="background: red;width:15px;height:15px;border-radius: 50%;"></div>
                    <p>{{qus.option1}} {{nlc.0}}%</p>
                </div>
                <div class="wrapperpielegends">
                    <div style="background: blue;width:15px;height:15px;border-radius: 50%;"></div>
                    <p>{{qus.option2}} {{nlc.1}}%</p>
                </div>
                <div class="wrapperpielegends">
                    <div style="background: green;width:15px;height:15px;border-radius: 50%;"></div>
                    <p>{{qus.option3}} {{nlc.2}}%</p>
                </div>
                <div class="wrapperpielegends">
                    <div style="background: purple;width:15px;height:15px;border-radius: 50%;"></div>
                    <p>{{qus.option4}} {{nlc.3}}%</p>
                </div>
            </div>
        </div>
        </div>
        {% endfor %}

        {% if additional %}
            {% for qus in ftpqus %}
                <div class="wrappercontainer" style="max-height: 300px;overflow-y: auto;overflow-x: hidden;word-wrap: break-word;">
                    <h3>{{qus.question}}</h3>
                    {% for ans in ftpans|index:forloop.counter0 %}
                        <p style="margin: 10px auto;">{{ans}}</p>
                        <hr>
                    {% endfor %}
                </div>
            {% endfor %}
        {% endif %}

        <div class="footer" style="text-align:center;">
            {{user.email}} is recorded while created form/quiz.
        </div>

    </div>
</body>

</html>